.bg-primary {
    background-color: var(--color-primary);
}

.text-white {
    color: var(--color-white) !important;
}

.centerXY {

    &.scale {
        &--small{
            transform: translate(-50%, -50%) scale(1.7) !important;
        }
    }
    
}
